    <footer>
        <div class="flogo">
            <a href="/"><img src="/images/Logo_2-removebg-preview.png" alt="church's logo"></a>
        </div>
        <div class="links">
            <h3>Quick Links</h3>
            <a href=""><li>Home</li></a>
            <a href=""><li>Articles</li></a>
            <a href=""><li>Sermon</li></a>
            <a href=""><li>About</li></a>
        </div>
        <div class="contact">
            <h3>Contact us</h3>
            <a href="tel:+234-708-513-4339"><li>+234-708-5134-339</li></a>
            <a href="Emal:oluwatimileyinadeosun@gmail.com"><li>oluwatimileyinadeosun@gmail.com</li></a>
        </div>
        <div class="socials example-2">
            <div class="icon-content facebook">
                <span class="tooltip">Facebook</span>
                <a href="#" data-social="facebook">
                    <div class="filled"></div>
                    <img src="/images/facebook-squared.svg" alt="Facebook icon">
                </a>
            </div>
            <div class="icon-content youtube">
                <span class="tooltip">YouTube</span>
                <a href="#" data-social="youtube">
                    <div class="filled"></div>
                    <img src="/images/youtube.svg" alt="YouTube icon">
                </a>
            </div>
        </div>
    </footer>

    <script src="/script.js"></script>
</body>
</html>