<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The LifeWord Church</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="church-name">
                <p>The LifeWord Church</p>
            </div>
            <div class="logo">
                <a href="/"><img src="/images/Logo_2-removebg-preview.png" alt="church's logo"></a>
            </div>
            <div class="navbar">
                <div class="donation">
                    <a href="/donate">Give Online</a>
                </div>
                <div class="menu-icon">
                    <svg width="28" height="28" class="menu-icon" fill="none" stroke="#f0f0f0" stroke-linecap="round" stroke-linejoin="round" stroke-width="4.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 12h18"></path>
                        <path d="M3 6h18"></path>
                        <path d="M3 18h18"></path>
                    </svg>
                </div>
            </div>
            <div class="menu-list">
                <div class="logo">
                    <a href="/"><img src="/images/Logo_2-removebg-preview.png" alt="church's logo"></a>
                </div>
                <a href="/"><li>Home</li></a>
                <a href="/article"><li>Articles</li></a>
                <a href="#sermon"><li>Sermon</li></a>
                <a href="/about"><li>About</li></a>
            </div>
        </nav>
    </header>
