<%- include('partials/header') %>
    <main>
        <div class="about">
            <div class="about-img">
                <img src="/images/welcome.jpg" alt="Church image">
            </div>
            <div class="about-text">
                <h1>The Lifeword Church <br><span class="motto">In God we trust</span></h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, officia culpa maxime accusantium voluptatum sint nam mollitia molestiae distinctio sequi molestias aliquid laudantium aut tempore aperiam voluptatibus perferendis assumenda temporibus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, officia culpa maxime accusantium voluptatum sint nam mollitia molestiae distinctio sequi molestias aliquid laudantium aut tempore aperiam voluptatibus perferendis assumenda temporibus.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, officia culpa maxime accusantium voluptatum sint nam mollitia molestiae distinctio sequi molestias aliquid laudantium aut tempore aperiam voluptatibus perferendis assumenda temporibus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, officia culpa maxime accusantium voluptatum sint nam mollitia molestiae distinctio sequi molestias aliquid laudantium aut tempore aperiam voluptatibus perferendis assumenda temporibus.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, officia culpa maxime accusantium voluptatum sint nam mollitia molestiae distinctio sequi molestias aliquid laudantium aut tempore aperiam voluptatibus perferendis assumenda temporibus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, officia culpa maxime accusantium voluptatum sint nam mollitia molestiae distinctio sequi molestias aliquid laudantium aut tempore aperiam voluptatibus perferendis assumenda temporibus.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, officia culpa maxime accusantium voluptatum sint nam mollitia molestiae distinctio sequi molestias aliquid laudantium aut tempore aperiam voluptatibus perferendis assumenda temporibus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, officia culpa maxime accusantium voluptatum sint nam mollitia molestiae distinctio sequi molestias aliquid laudantium aut tempore aperiam voluptatibus perferendis assumenda temporibus.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, officia culpa maxime accusantium voluptatum sint nam mollitia molestiae distinctio sequi molestias aliquid laudantium aut tempore aperiam voluptatibus perferendis assumenda temporibus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, officia culpa maxime accusantium voluptatum sint nam mollitia molestiae distinctio sequi molestias aliquid laudantium aut tempore aperiam voluptatibus perferendis assumenda temporibus.</p>
                <p class="last">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, officia culpa maxime accusantium voluptatum sint nam mollitia molestiae distinctio sequi molestias aliquid laudantium aut tempore aperiam voluptatibus perferendis assumenda temporibus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, officia culpa maxime accusantium voluptatum sint nam mollitia molestiae distinctio sequi molestias aliquid laudantium aut tempore aperiam voluptatibus perferendis assumenda temporibus.</p>
            </div>
        </div>
        <section class="giving">
            <div class="giving-img item slide slide-right">
                <img loading="lazy" src="/images/donation.jpg" alt="">
            </div>
            <div class="giving-text item">
                <p>
                    Each of you should give what you have decided in your heart to give, not reluctantly or under compulsion, for God loves a cheerful giver. <br> <span class="verse">2 Cor 9:7</span>
                </p>
                <form action="/donate" method="get">
                    <button type="submit">Give online</button>
                </form>
            </div>
        </section>
    </main>
<%- include('partials/footer') %>