<%- include('partials/header') %>
<main>
    <div class="about">
        <div class="about-img">
            <img src="/images/welcome.jpg" alt="Church image">
        </div>
        <div class="about-text">
            <h1>The Lifeword Church <br><span class="motto">In God we trust</span></h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, officia culpa maxime accusantium voluptatum sint nam mollitia molestiae distinctio sequi molestias aliquid laudantium aut tempore aperiam voluptatibus perferendis assumenda temporibus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, officia culpa maxime accusantium voluptatum sint nam mollitia molestiae distinctio sequi molestias aliquid laudantium aut tempore aperiam voluptatibus perferendis assumenda temporibus.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, officia culpa maxime accusantium voluptatum sint nam mollitia molestiae distinctio sequi molestias aliquid laudantium aut tempore aperiam voluptatibus perferendis assumenda temporibus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, officia culpa maxime accusantium voluptatum sint nam mollitia molestiae distinctio sequi molestias aliquid laudantium aut tempore aperiam voluptatibus perferendis assumenda temporibus.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, officia culpa maxime accusantium voluptatum sint nam mollitia molestiae distinctio sequi molestias aliquid laudantium aut tempore aperiam voluptatibus perferendis assumenda temporibus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, officia culpa maxime accusantium voluptatum sint nam mollitia molestiae distinctio sequi molestias aliquid laudantium aut tempore aperiam voluptatibus perferendis assumenda temporibus.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, officia culpa maxime accusantium voluptatum sint nam mollitia molestiae distinctio sequi molestias aliquid laudantium aut tempore aperiam voluptatibus perferendis assumenda temporibus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, officia culpa maxime accusantium voluptatum sint nam mollitia molestiae distinctio sequi molestias aliquid laudantium aut tempore aperiam voluptatibus perferendis assumenda temporibus.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, officia culpa maxime accusantium voluptatum sint nam mollitia molestiae distinctio sequi molestias aliquid laudantium aut tempore aperiam voluptatibus perferendis assumenda temporibus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, officia culpa maxime accusantium voluptatum sint nam mollitia molestiae distinctio sequi molestias aliquid laudantium aut tempore aperiam voluptatibus perferendis assumenda temporibus.</p>
            <p class="last">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, officia culpa maxime accusantium voluptatum sint nam mollitia molestiae distinctio sequi molestias aliquid laudantium aut tempore aperiam voluptatibus perferendis assumenda temporibus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, officia culpa maxime accusantium voluptatum sint nam mollitia molestiae distinctio sequi molestias aliquid laudantium aut tempore aperiam voluptatibus perferendis assumenda temporibus.</p>
        </div>
    </div>
</main>
<%- include('partials/footer') %>