<%- include('partials/header') %>
<main>
    <div class="give-online">
        <div class="e-card playing">
            <div class="image"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
                <div class="infotop">
                    <span class="bank">Gtbank:</span> <br>
                    0519561251 <br>
                    <span class="bank">First bank:</span> <br>
                    0519561251 <br> <br> <br>
                    <span class="name">Solomon Ajayi</span>
                </div>
            </div>
            </div>
    </div>
</main>

<%- include('partials/footer') %>