<%- include('partials/header') %>
    <main>
        <section class="hero">
            <div class="hero-image">
                <video autoplay loop muted playsinline preload="auto" disablePictureInPicture id="bg-video">
                    <source src="/images/home-video.mp4" type="video/mp4">
                </video>
            </div>
        </section>
        <section class="intro">
            <div class="intro-text">
                <h1>The Lifeword Church</h1>
                <p>Our mission is to glorify God by sharing the love of Christ, nurturing spiritual growth, and serving our community with compassion. We strive to create a welcoming environment where individuals can connect and grow in faith.</p>
                <form action="/about" method="get">
                    <button type="submit">Learn More</button>
                </form>
            </div>
            <div class="intro-img">
                <div class="intro-img1 slide-right slide">
                    <img src="/images/welcome.jpg" alt="people laughing" loading="lazy">            
                    <div class="intro-img2">                
                        <img src="/images/cross.jpg" alt="cross" loading="lazy">
                    </div>
                </div>
            </div>
        </section>
        <section class="founder">
            <div class="founder-img slide-left slide">
                <img src="/images/founder-image.jpg" alt="the founder's image" loading="lazy">
            </div>
            <div class="founder-text">
                <h2>The Founder</h2>
                <p><Span>Pst Solomon Adekunle</Span> is Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut eligendi perferendis dolor fuga, optio necessitatibus praesentium soluta tempore quas asperiores aperiam ipsam odit unde vero magni dignissimos odio aut magnam!</p>
            </div>
        </section>
        <section id="sermon">
            <div class="s-title">
                <h2>Watch Our Sermons</h2>
            </div>
            <div class="s-container">
                <div class="item delay slide-left slide">                    
                    <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/dpLLGuEu-rg?si=Omfa-bP8VXBGV-BJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="item slide-left slide">                    
                    <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/K_cQk9bQi08?si=L2w7Snof49Q0g3pf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="item slide-right slide">                    
                    <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/dpLLGuEu-rg?si=Omfa-bP8VXBGV-BJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="item delay slide-right slide">                    
                    <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/K_cQk9bQi08?si=L2w7Snof49Q0g3pf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
            <div class="btn" style="text-align: center;">
                <a href="www.youtube,com"><button type="submit">Watch more</button></a>
            </div>
        </section>
        <section class="article">
            <div class="a-container">
                <div class="article-img">
                    <video autoplay loop muted playsinline>
                        <source src="/images/bible-video.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="article-text">
                    <div class="s-title">
                        <h3>The son of God liveth</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem saepe ullam cum repellat delectus libero debitis minus explicabo beatae, in quis distinctio incidunt officiis rem facilis repudiandae nulla velit adipisci? <br> <span class="preacher"> &mdash; Pst Solomon Adekunle</span></p>
                    <form action="/article" method="get">
                        <button type="submit">Articles</button>
                    </form>
                </div>
            </div>
        </section>
        <section class="giving">
            <div class="giving-img item slide slide-right">
                <img loading="lazy" src="/images/donation.jpg" alt="">
            </div>
            <div class="giving-text item">
                <p>
                    Each of you should give what you have decided in your heart to give, not reluctantly or under compulsion, for God loves a cheerful giver. <br> <span class="verse">2 Cor 9:7</span>
                </p>
                <form action="/donate" method="get">
                    <button type="submit">Give online</button>
                </form>
            </div>
        </section>
    </main>
<%- include('partials/footer') %>
